/* CSS Document */
.statusbody {
	margin:5px auto 0px auto;	
	background-color:#8fb9cc;

}

.input{
	color:#3b5f71;
	border:1px solid #7398ac;
	background-color:#cae9f3;
	font-family :Verdana;
	font-size : 11px;
	padding-left:5px;
}

.NMdesp{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:180%;
	text-align:left;
}

.bgarrow{
	background:url(images/bg-arrow.gif) no-repeat right 0px; 
}

.bgarrow a:link, .bgarrow a:visited{
	color:transparent;
	border:0px;
}

.mapgroup{border: 2px dotted #999; width:170px;}

#diskquota{
	width:100px;
	height:13px;
	border:1px solid #999;
	background:url(images/quotabar_bg.gif);
}

#iconRemote{ background:url(images/map-iconRemote.gif) no-repeat;	width:87px;	height:77px; cursor:pointer; display:none}

#iconInternet{ background:url(images/map-iconInternet.gif) no-repeat;	width:87px;	height:77px; cursor:pointer;}
#iconInternet a:link{ background:url(images/map-iconInternet.gif) no-repeat;	width:87px;	height:77px; cursor:pointer;}


#iconRouter{ background:url(images/map-iconRouter.gif) no-repeat;	width:87px;	height:77px; cursor:pointer; margin:0px 0px 0px 0px;}

#iflock{ 
	background:url(images/lock_icon.gif) no-repeat; 
	width:27px; 
	height:27px; 
	cursor:pointer; 
	margin-left:-80px;
	margin-top:8px;
	position: absolute;
	display:none;
}

.iconUSBdisk{ background:url(images/map-iconUSBdisk.gif) no-repeat;	width:87px;	height:77px; cursor:pointer;}

#iconClient{ background:url(images/map-iconClient.gif) no-repeat;	width:87px;	height:77px; cursor:pointer;}
.iconPrinter{ background:url(images/map-iconPrinter.gif) no-repeat;	width:87px;	height:77px; cursor:pointer;}

#iconWebcam{ background:url(images/map-iconWebcam.gif) no-repeat;	width:87px;	height:77px; cursor:pointer;}
.iconNo{ background:url(images/map-iconNo.gif) no-repeat;	width:87px;	height:77px; cursor:pointer; float:left;}

.statusTitle{	
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size:14px;
	text-align:center;
	background-image : url(images/title-bg.gif);
	letter-spacing:1px;
}

.table1px{
	border:1px solid #6b8fa3; 
	background-color:#a7d2e2;
	border-collapse: collapse;
}
.table1px img{	
	margin:0px auto;
	text-align:center;
}
.table1px tr, .table1px td{
	border:1px solid #6b8fa3;	
}
.table1px tfoot{
	color: #669900;
	font-size:10px;
}

.table1px tbody td{font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:180%; }
.table1px th{font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif;  background-color:#7aa3bd; text-align:left;}

.Tablehead {font-family :Verdana;font-size : 11px;text-align:center;color:#000000; font-weight:bold;  line-height:190%; background-color:#6692B0;}
.Tabletitle td{font-family :Verdana;font-size : 11px;text-align:center; color:#000000;line-height:190%;  background-color:#7aa3bd; }

.top-message1 {font-family :Verdana;font-size : 11px;text-align:left;font-weight:normal;background-color:#7aa3bd}
.top-message2 {font-family :Verdana;font-size : 11px;text-align:left;color:#23344d;font-weight:normal;background:#a7d2e2;}

.clients{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:150%;
}

.clients span{
	font-family:Arial Black, Verdana, Arial, Helvetica, sans-serif;
	color:#006699;
	font-size:15px;
}

.ifconnect{
	width:14px;
	height:14px;
	background:url(images/disconnect.gif) no-repeat;
	margin:0px 0 0 135px;
	display:none;
}

.DMhint{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;	
	line-height:150%;
	display:none;
	color:#CC0000;
	border:1px dashed #333;
	background-color:#FFFFFF;
	margin:5px;
	padding:5px;
}

.navtext {
	font-size:8pt; 
	border: 1px double #999;
	background-color: #FFC; 
	color: #003366;
	text-align:left;
	width:auto;
	padding:3px;
	line-height:150%;
}

.hackiframe{	/* iframe for Hack IE 6.0 to avoid select menu over DIV layer. */
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;/*must have*/
	top:0;/*must have*/
	left:0;/*must have*/
	z-index:-1;/*must have*/
	filter:mask();/*must have*/
	width:3000px;/*must have for any big value*/
	height:3000px/*must have for any big value*/;
}

.popup_bar_bg{
	position:absolute;	
	margin: auto;
	top: 5px;
	left: 0;
	height:20px;
	z-index:99;
	background-color:#CC0000;
	overflow:hidden;
	font-size:12px;
	color:#FFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:20px;
	padding:2px;
}

.loadingBarBlock{
	position:absolute;	
	top: 0;
	left: 0;
	margin:100px auto;
	width:99%;
	z-index:100;
	font-size:11px;	
	line-height:16px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000;	
}
.hardware_title{
	font-family:Verdana, Arial;
	font-size:11px;
	border-bottom:2px dotted #999;
	text-align:left;
	font-weight:bold;
	width:95%;
	margin:5px 0px 0px 5px;
}

.system_disk{
	font-family:Verdana, Arial;
	font-size:11px;
	width:95%;
	height:80px;
	margin:5px 0px 10px 5px;
}

.system_disk_desc{ 
	float:left;
	width:auto;
	text-align:left;
	line-height:180%;
}

#mode_tag{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /*IE8*/
	filter:alpha(opacity=80);  /*IE5、IE5.5、IE6、IE7*/
	opacity: .8;  /*Opera9.0+、Firefox1.5+、Safari、Chrome*/
	border:1px solid #999;
	background-color:#FFFF15;
	width:80px;
	font-size:11px;
	position:absolute;
	margin:-18px 0px 0px 2px;
	text-align:center;
	font-family: Arial, Verdana;
	z-index:1000;
	color:#000;
	cursor:pointer;
	text-decoration:none;
}
.NMitem a{
	color:#A7D2E2;
}
#arrow_down{
	background: url(/images/arrow-down.gif) no-repeat center center; 
	width:10px;
	height:12px;
	float:right;
	position:absolute;
}

.mssid-toolbar{
	width:290px;
	border-collapse: collapse;
	height:33px;
	margin-top:2px;
	margin-bottom:5px;
	font-size:11px;
	font-family:Verdana, Arial;	
}
.mssid-toolbar #toolbar-th{
	width:90px;
	background:#ffffff url(/images/mssid_toolbar_bg1.gif) repeat 0 bottom;
	border-top:1px solid #006EA5;
	border-bottom:1px solid #006EA5;
	font-weight:bold;
	padding:0px;
}

.mssid-toolbar #toolbar-td{
	width:165px;
	background:#ffffff url(/images/mssid_toolbar_bg2.gif) repeat 0 bottom;
	border:1px solid #006EA5;
}

#mssid_arrow{
 	cursor:pointer;	
	background:url(images/arrow-down.gif) center right no-repeat;
	margin:0px 0px 0px 165px;
	height:24px;
	width:7px;
	padding:0px;
	border:0px solid #333;
	float:right;
	position:absolute;
}
/*#mssid_arrow:hover{
	margin:5px 0px 0px 0px;
	border:2px solid #FFF;
}*/

#MSSIDList_Block{
	position:absolute;
	margin-top:20px;
	margin-left:0px;
	text-align:left;
	width:158px;
	/*height:60px;*/
	overflow-x:hidden;
	z-index:1200;
	padding: 1px;
	display:none;
	border-left: 1px solid #7f9db9;
	border-right: 1px solid #7f9db9;
	border-bottom: 1px solid #666;
	background-color:#cae9f3;
}
#MSSIDList_Block div{
	height:20px;
	text-decoration:none;
	padding-left:2px;	
}
#MSSIDList_Block span{
	float:left;
	width:130px;
	height:20px;
	overflow:hidden;
}

#MSSIDList_Block input{
	float:right;
	vertical-align:middle;
	line-height:12px;
}

#MSSIDList_Block a{
	background-color:#cae9f3;
	/*color:#000;*/
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
#MSSIDList_Block div:hover, #MSSIDList_Block a:hover{
	background-color:#003366;
	color:#000;
	cursor:default;
	font-weight:bold;
}
.nocssinput{
	color:#3b5f71;
	background-color:#cae9f3;
	font-family :Verdana;
	font-size : 11px;
	border:0px solid #333;
	width:122px;
	float:left;
	margin-left:0px;
	line-height:12px;
}