/* CSS Document */
.statusbody {
	margin:5px auto 0px auto;	
	background-color:#8fb9cc;

}

.input{color:#3b5f71;border:1px solid #7398ac;background-color:#cae9f3;font-family :Verdana;font-size : 11px;padding-left:5px;}

.NMdesp{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:180%;
	text-align:left;
}

.bgarrow{
	background:url(images/bg-arrow.gif) no-repeat right 0px; 
}

.bgarrow a:link, .bgarrow a:visited{
	background:transparent;
	border:0px;
	color:#a7d2e2;
}

.mapgroup{border: 2px dotted #999}

#diskquota{
	width:100px;
	height:13px;
	border:1px solid #999;
	background:url(images/quotabar_bg.gif);
}


#iconInternet{ background:url(images/map-iconInternet.gif) no-repeat;	width:87px;	height:77px; cursor:pointer;}
#iconRouter{ background:url(images/map-iconRouter.gif) no-repeat;	width:87px;	height:77px; cursor:pointer; margin:0px 0px 0px 0px;}

#iflock{ 
	background:url(images/lock_icon.gif) no-repeat; 
	width:27px; 
	height:27px; 
	cursor:pointer; 
	margin-left:-53px; 
	margin-top:5px; 
	position: absolute;
	display:none;
}

.iconHarddisk{ background:url(images/map-iconHarddisk.gif) no-repeat;	width:87px;	height:77px; cursor:pointer;}
#iconClient{ background:url(images/map-iconClient.gif) no-repeat;	width:87px;	height:77px; cursor:pointer;}
.iconPrinter{ background:url(images/map-iconPrinter.gif) no-repeat;	width:87px;	height:77px; cursor:pointer;}
.iconHSDPA{ background:url(images/map-iconHSDPA.gif) no-repeat;	width:87px;	height:77px; cursor:pointer;}
#iconWebcam{ background:url(images/map-iconWebcam.gif) no-repeat;	width:87px;	height:77px; cursor:pointer;}
.iconNo{ background:url(images/map-iconNo.gif) no-repeat;	width:87px;	height:77px; cursor:pointer;}
#iconAPmode{ background:url(images/map-iconAPmode.gif) no-repeat;	width:87px;	height:77px; display:none;}

.statusTitle{	
	background-image : url(images/title-bg.gif);
	letter-spacing:1px;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size:14px;
	text-align:center;
	height:38px;
}
.statusTitle #helpname{
	border:0px solid #333;
	width:75%;
	margin-left:70px;
}
#statusIcon{
	background:url(images/iframe-iconRouter.gif) no-repeat;
	width:45px;
	height:40px;
	border:0px solid #999;
	position:absolute;
	margin:0 0 0 30px;
}

.table1px{
	border:1px solid #6b8fa3; 
	background-color:#a7d2e2;
	border-collapse: collapse;
}
.table1px img{	
	margin:0px auto;
	text-align:center;
}
.table1px tr, .table1px td{
	border:1px solid #6b8fa3;	
}
.table1px tfoot{
	color: #669900;
	font-size:10px;
}

.table1px tbody td{font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:180%; }
.table1px th{font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif;  background-color:#7aa3bd; text-align:left;}

.Tablehead {font-family :Verdana;font-size : 11px;text-align:center;color:#000000; font-weight:bold;  line-height:190%; background-color:#6692B0;}
.Tabletitle td{font-family :Verdana;font-size : 11px;text-align:center; color:#000000;line-height:190%;  background-color:#7aa3bd; }

.top-message1 {font-family :Verdana;font-size : 11px;text-align:left;font-weight:normal;background-color:#7aa3bd}
.top-message2 {font-family :Verdana;font-size : 11px;text-align:left;color:#23344d;font-weight:normal;background:#a7d2e2;}

.clients{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:150%;
}

.clients span{
	font-family:Arial Black, Verdana, Arial, Helvetica, sans-serif;
	color:#006699;
	font-size:15px;
}

.ifconnect{
	width:14px;
	height:14px;
	background:url(images/disconnect.gif) no-repeat;
	margin:0px 0 0 135px;
	display:none;
}

.shareinfo{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;	
	line-height:120%;
}
.shareinfo a:link{color: #003399;}
.shareinfo a:hover{color: #FF0000;}

.DMhint{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;	
	line-height:150%;
	display:none;
	color:#CC0000;
	border:1px dashed #333;
	background-color:#FFFFFF;
	margin:5px;
	padding:5px;
}

.navtext {
	font-size:8pt; 
	border: 1px double #999;
	background-color: #F4F4F4; 
	color: #003366;
	text-align:left;
	width:auto;
	padding:3px;
	line-height:150%;
}

.hackiframe{	/* iframe for Hack IE 6.0 to avoid select menu over DIV layer. */
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;/*must have*/
	top:0;/*must have*/
	left:0;/*must have*/
	z-index:-1;/*must have*/
	filter:mask();/*must have*/
	width:3000px;/*must have for any big value*/
	height:3000px/*must have for any big value*/;
}

.popup_bar_bg{
	position:absolute;	
	margin: auto;
	top: 5px;
	left: 0;
	height:20px;
	z-index:99;
	background-color:#CC0000;
	overflow:hidden;
	font-size:12px;
	color:#FFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:20px;
	padding:2px;
}

.loadingBarBlock{
	position:absolute;	
	top: 0;
	left: 0;
	margin:100px auto;
	width:99%;
	z-index:100;
	font-size:11px;	
	line-height:16px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000;	
	background:url(/images/proceeding.gif) no-repeat center center;
}
